---
import latest from '@data/latest.json'

import '@htl-stp/core/core.css'
import '@htl-stp/core/components.css'
import '@htl-stp/core/utilities.css'

const entries = Object.entries(latest);
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="src/style.css">

    <title>Ifnode, but better!</title>
</head>
<body>

<h1 class="text-center heading-lg mt-lg">Ifnode, <span class="text-but-better">but better!</span> ™</h1>

<section class="section container">
    <div id="list" class="flex-column mb-lg">
        {entries.map(([key, value]) => (
                <a href={`${key}/${value}`}>
                    {key}
                </a>
        ))}
    </div>
</section>


</body>
</html>
