:root {
    --bg: #101010;
    --bg2: #151515;
    --bg3: #212121;
    --text: #ffffff;
    --muted: #232323;
    --border: #1a1a1a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    padding-top: 1em;
}

body, html {
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    overflow-y: hidden;
}

body {
    font-family: system-ui, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    overflow-x: hidden;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

#list {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 5em;
    padding-top: 2em;
}

@media (max-width: 800px) {
    #list {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: inherit;
    padding: 1em;
    border-radius: 4px;
    width: 100%;
    background-color: var(--bg2);
    border: 1px solid var(--border)
}

a:hover {
    background-color: var(--bg3)
}


#content {
    margin-top: 2em;
    width: 50%;
    overflow-x: hidden;
    padding-bottom: 2em;
    margin-bottom: 2em;
}


@media (max-width: 800px) {
    #content {
        width: 90%;
    }
}