@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    overflow-x: hidden;
}

#list a {
    text-decoration: none;
    color: inherit;
    padding: 1em;
    border-radius: 4px;
    width: 100%;
    background-color: var(--bg-light);
    border: 1px solid var(--border);
}

#list a:hover {
    background-color: var(--bg-hover);
}